# Node modules
/node_modules

# Yarn PnP
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Miscellaneous
.DS_Store
npm-debug.log*


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log

# OS-specific files
Thumbs.db
ehthumbs.db
*.stackdump
*.swp

# Editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
/.pnp/
.pnp.js


# Temporary files
*.tmp
*.temp

# Build directories
/dist/
